<!--Intro-->
h1 = portfolio_name
<!--Work-->
<!--Blog-->
<!--About-->
<!--Contact-->
= contact_by_phone
br
= contact_by_email(t('email'), 'hey[at]johannabruiz.com')
= fun_intro
= serious_intro
= render 'shared/inquiry_form', type: 'employment'